<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/img/weather-clear-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/styles.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/robot.jpeg" alt="">
    <p>Name: {{name}}</p>
    <p>Age: {{ age }}</p>
  </div>
  {{>footer}}
</body>

</html>